<!DOCTYPE html>
<html>
<head>
<title>Sorteio de vagas de estacionamento do Condomínio Grandlife Ipiranga</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="./css/style.css" rel='stylesheet' type='text/css' />
<link href='./css/notify.min.css' rel='stylesheet' type='text/css' />
<link href='./css/sticky.css' rel='stylesheet' type='text/css' />
<link rel="icon" type="image/png" href="./images/sve.png">
</head>
<body>

<%- include('navbar.ejs') %>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small titulo-principal">Sorteio de Vagas de Estacionamento do Condomínio Grandlife Ipiranga</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium titulo-principal">Sorteio de vagas de estacionamento do Condomínio Grandlife Ipiranga</span><br>
    <span class="w3-large titulo-principal">O jeito mais fácil e rápido de conseguir as melhores vagas</span>
    <p><a href="#sobre" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Veja mais detalhes</a></p>
  </div> 
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="sobre">
  <h3 class="w3-center">Sobre nós</h3>
  <p class="w3-center w3-large">Esta é uma iniciativa para ajudar a resolver um problema comum em condomínios, o sorteio de vagas de estacionamento.</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-mobile w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsivo</p>
      <p><span class="fa fa-circle-check"></span>Funciona em computadores, notebooks, tablets e smartphones.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Fácil</p>
      <p>Simples e fácil para qualquer pessoa conseguir participar dos sorteios. Inclusive escolhendo suas vagas preferenciais!</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-rocket w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Rápido</p>
      <p>O sorteio é muito rápido. As 192 vagas são sorteadas em segundos.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-shield w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Confiável</p>
      <p>As regras de priorização do condomínio foram implementadas e seguidas à risca. Além disso o processo é 100% auditável.</p>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:78px 16px;" id="faleconosco">
  <div style="padding: 20px; box-shadow: 0 3px 18px 8px rgb(38 24 24 / 25%);">
    <h3 class="w3-center">FALE CONOSCO</h3>
    <p class="w3-center w3-large">Envie sua mensagem com comentários, críticas ou sugestões:</p>
    <div style="margin-top:48px; width: 70%; margin: auto;">
      <div>
          <form>
            <p><input class="w3-input w3-border" type="text" placeholder="Nome" required id="nome" name="nome"></p>
            <p><input class="w3-input w3-border" type="email" placeholder="Email" required id="email" name="email"></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Assunto" required id="assunto" name="assunto"></p>
            <p><textarea class="w3-input w3-border" type="areatext" placeholder="Mensagem" required id="mensagem" name="mensagem" rows="3"></textarea></p>
            <p>
              <button id="btnEnviarMensagem" class="w3-button w3-black" type="button">
                <i class="fa fa-paper-plane"></i> ENVIAR MENSAGEM
              </button>
            </p>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-24">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Vai para o início</a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./js/notify.js"></script>
<script>  
  const notify = new Notify();
  var estilo = '<%= (mensagem != null ? mensagem[0] : "") %>';
  var titulo = '<%= (mensagem != null ? mensagem[1] : "") %>';
  var mensagem = '<%= (mensagem != null ? mensagem[2] : "") %>';
  if (mensagem != '') {
    notify.render({
      head: titulo,
      style: estilo,
      content: mensagem
    });
  }

  document.getElementById("btnEnviarMensagem").addEventListener('click', function() { enviarMensagem() })

  function enviarMensagem() {
    var nome = document.getElementById("nome").value;
    var email = document.getElementById("email").value;
    var assunto = document.getElementById("assunto").value;
    var mensagem = document.getElementById("mensagem").value;
    if (nome == "" || email == "" || assunto == "" || mensagem == "") {
      notify.render({
        head: "Atenção!",
        style: "warning",
        content: "Todos os campos são obrigatórios!"
      });
      return;
    }
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if (!filter.test(email)) {
      notify.render({
        head: "Atenção!",
        style: "warning",
        content: "O email informado não apresenta um formato desconhecido!"
      });
      return;
    }
    $(document).ready(function(){
      $(document).ajaxError(function(e, xhr, opt) {
        notify.render({
          head: 'Atenção!',
          style: 'error',
          content: xhr.responseJSON.message
        })
      });
      $.post("/faleconosco", 
      {
        "nome": nome,
        "email": email,
        "assunto": assunto,
        "mensagem": mensagem
      },function(data,status){
        if( data.status == 'success') {
          notify.render({
            head: 'Informação',
            style: 'success',
            content: 'Mensagem enviada com sucesso!'
          });
          document.getElementById("nome").value = null;
          document.getElementById("email").value = null;
          document.getElementById("assunto").value = null;
          document.getElementById("mensagem").value = null;
        } else {
          notify.render({
            head: 'Atenção',
            style: 'error',
            content: 'Erro no envio da mensagem. Erro: '+data.message
          });
        }
      })
    });
  }
</script> 
<script src="./js/script.js"></script>
</body>
</html>